.total {
    background-color: #d6d2d2;
    padding: 12px;
    display: flex;
}

.train {
    width: auto;
    margin: 0 20px;
}

.table {
    padding: 4px;
    border-radius: 4px;
    background-color: white;
    width: 300px;
}

.table-tr-link {
    height: 28px;
}

.table-tr-link:hover {
    background-color: #d6d2d2;
    cursor: pointer;
}

button {
    margin: 12px;
    font-size: 24px;
    cursor: pointer;
}